html, body{
    margin: 0;
    padding: 0;
    background-color: #FDF7F4;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 4%;
    width: 100%;
    padding: 0 2%;
    box-sizing: border-box;
    background-color: #685752;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-text {
    color: #997C70;
    text-decoration: none;
}

.navbar-text:hover {
    color: #FDF7F4;
}

.dashboard{
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    background-color: #8EB486;
    color: #FDF7F4;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tamalitoDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1% 0;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tamalito{
    align-items: center;
    justify-content: space-between;
    display:flex;
    width: 100%;
    padding: 0 40%;
    box-sizing: border-box;
    content:url('resources/tamalito/1.png');
}

.tamalito-slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

#tamalito-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
    transition: opacity 1s;
}